body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f0f8ff, #add8e6);
}

header {
    background-color: #4682b4;
    color: white;
    padding: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    background-color: #4682b4;
    color: white;
    border: none;
    border-radius: 5px;
}

#webcam-container {
    margin-top: 15px;
}

#label-container {
    margin-top: 10px;
    font-weight: bold;
}
