body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f0f8ff, #add8e6);
}

header {
    background-color: #4682b4;
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    background-color: #4682b4;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #315f91;
}

section {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
}

section h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

#webcam-container {
    margin-top: 15px;
}

#label-container {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
